In [1]:
import pandas as pd

In [2]:
gtd = pd.read_csv('./data/globalterrorismdb_0617dist.csv', encoding='latin')

/Users/arpariseau/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (4,6,31,33,53,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
gtd.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [4]:
gtd.shape

(170350, 135)

In [5]:
gtd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170350 entries, 0 to 170349
Columns: 135 entries, eventid to related
dtypes: float64(53), int64(24), object(58)
memory usage: 175.5+ MB

In [6]:
gtd.columns
#there are rather a lot of these, not all of which we can use

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

In [7]:
for col in gtd.columns:
    print(col + ": " + str(gtd[col].isnull().sum()) + " nulls")

eventid: 0 nulls
iyear: 0 nulls
imonth: 0 nulls
iday: 0 nulls
approxdate: 162886 nulls
extended: 0 nulls
resolution: 168131 nulls
country: 0 nulls
country_txt: 0 nulls
region: 0 nulls
region_txt: 0 nulls
provstate: 14502 nulls
city: 446 nulls
latitude: 4606 nulls
longitude: 4606 nulls
specificity: 4 nulls
vicinity: 0 nulls
location: 122376 nulls
summary: 66138 nulls
crit1: 0 nulls
crit2: 0 nulls
crit3: 0 nulls
doubtterr: 0 nulls
alternative: 143719 nulls
alternative_txt: 143719 nulls
multiple: 0 nulls
success: 0 nulls
suicide: 0 nulls
attacktype1: 0 nulls
attacktype1_txt: 0 nulls
attacktype2: 164720 nulls
attacktype2_txt: 164720 nulls
attacktype3: 169976 nulls
attacktype3_txt: 169976 nulls
targtype1: 0 nulls
targtype1_txt: 0 nulls
targsubtype1: 9345 nulls
targsubtype1_txt: 9345 nulls
corp1: 42565 nulls
target1: 634 nulls
natlty1: 1394 nulls
natlty1_txt: 1394 nulls
targtype2: 160332 nulls
targtype2_txt: 160332 nulls
targsubtype2: 160749 nulls
targsubtype2_txt: 160749 nulls
corp2: 161360 nulls
target2: 160456 nulls
natlty2: 160644 nulls
natlty2_txt: 160644 nulls
targtype3: 169316 nulls
targtype3_txt: 169316 nulls
targsubtype3: 169389 nulls
targsubtype3_txt: 169389 nulls
corp3: 169466 nulls
target3: 169317 nulls
natlty3: 169344 nulls
natlty3_txt: 169344 nulls
gname: 0 nulls
gsubname: 165159 nulls
gname2: 168610 nulls
gsubname2: 170201 nulls
gname3: 170081 nulls
gsubname3: 170337 nulls
motive: 121764 nulls
guncertain1: 379 nulls
guncertain2: 168669 nulls
guncertain3: 170085 nulls
individual: 0 nulls
nperps: 71124 nulls
nperpcap: 69499 nulls
claimed: 66134 nulls
claimmode: 154102 nulls
claimmode_txt: 154102 nulls
claim2: 168733 nulls
claimmode2: 169818 nulls
claimmode2_txt: 169818 nulls
claim3: 170087 nulls
claimmode3: 170230 nulls
claimmode3_txt: 170230 nulls
compclaim: 165595 nulls
weaptype1: 0 nulls
weaptype1_txt: 0 nulls
weapsubtype1: 19426 nulls
weapsubtype1_txt: 19426 nulls
weaptype2: 158507 nulls
weaptype2_txt: 158507 nulls
weapsubtype2: 159875 nulls
weapsubtype2_txt: 159875 nulls
weaptype3: 168690 nulls
weaptype3_txt: 168690 nulls
weapsubtype3: 168843 nulls
weapsubtype3_txt: 168843 nulls
weaptype4: 170276 nulls
weaptype4_txt: 170276 nulls
weapsubtype4: 170279 nulls
weapsubtype4_txt: 170279 nulls
weapdetail: 59385 nulls
nkill: 9682 nulls
nkillus: 64459 nulls
nkillter: 66663 nulls
nwound: 15325 nulls
nwoundus: 64710 nulls
nwoundte: 68749 nulls
property: 0 nulls
propextent: 109805 nulls
propextent_txt: 109805 nulls
propvalue: 134863 nulls
propcomment: 115919 nulls
ishostkid: 178 nulls
nhostkid: 157858 nulls
nhostkidus: 157913 nulls
nhours: 166649 nulls
ndays: 162942 nulls
divert: 170037 nulls
kidhijcountry: 167051 nulls
ransom: 94037 nulls
ransomamt: 169071 nulls
ransomamtus: 169854 nulls
ransompaid: 169643 nulls
ransompaidus: 169863 nulls
ransomnote: 169879 nulls
hostkidoutcome: 160439 nulls
hostkidoutcome_txt: 160439 nulls
nreleased: 161028 nulls
addnotes: 144911 nulls
scite1: 66200 nulls
scite2: 100765 nulls
scite3: 131133 nulls
dbsource: 0 nulls
INT_LOG: 0 nulls
INT_IDEO: 0 nulls
INT_MISC: 0 nulls
INT_ANY: 0 nulls
related: 147505 nulls

In [8]:
gtd.drop('eventid', axis=1, inplace=True)
#while it has no nulls, it also has no predictive value, so we can drop this

In [9]:
gtd['iyear'].unique()
#no odd values here, and we have all our years aside from 1993

array([1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980,
       1981, 1986, 1982, 1983, 1984, 1985, 1987, 1988, 1989, 1990, 1991,
       1992, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016])

In [10]:
gtd['imonth'].unique()
#months of 0, according to the data dictionary are events, which the dates are unknown

array([ 7,  0,  1,  2,  3,  4,  5,  6,  8,  9, 10, 11, 12])

In [11]:
gtd['iday'].unique()
#same as the prior

array([ 2,  0,  1,  3,  6,  8,  9, 10, 11, 12, 13, 14, 15, 19, 20, 21, 22,
       25, 26, 27, 28, 30, 31,  4,  7, 16, 17, 18, 23, 24,  5, 29])

In [12]:
#approxdate may be the way we can clear these zeroes
gtd[gtd['approxdate'].isnull() != 1]['approxdate'].unique
#the way these are recorded changes, making it harder to parse out

<bound method Series.unique of 24            January 19-20, 1970
53             February 6-9, 1970
60           February 11-14, 1970
73           February 16-17, 1970
138             March 16-17, 1970
314         May 27 - June 5, 1970
737          February 25-28, 1971
751               March 6-7, 1971
752               March 6-7, 1971
913              June 14-16, 1971
922              June 24-25, 1971
940              July 18-19, 1971
1441           August 17-18, 1972
1476        September 10-14, 1972
2178            March 16-17, 1974
2179            March 16-17, 1974
8832      June 22 - July 22, 1979
9904         January 8 - 12, 1980
9921        January 12 - 17, 1980
10795           April - May, 1980
13830           July 9 - 17, 1981
29313                  10/21/1986
32875        December 15-16, 1987
35989         October 25-26, 1988
43312            July 23-30, 1990
44395        November 11-19, 1990
57931        December 14-15, 1994
57932        December 14-15, 1994
64996       March 31-April1, 1997
64997       March 31-April1, 1997
                   ...
170194        2016-12-26 00:00:00
170203        2016-12-26 00:00:00
170209        2016-12-26 00:00:00
170223        2016-12-27 00:00:00
170227        2016-12-27 00:00:00
170245        2016-12-29 00:00:00
170249        2016-12-28 00:00:00
170250        2016-12-28 00:00:00
170251        2016-12-28 00:00:00
170263        2016-12-29 00:00:00
170264        2016-12-29 00:00:00
170267        2016-12-29 00:00:00
170271        2016-12-29 00:00:00
170272        2016-12-29 00:00:00
170273        2016-12-29 00:00:00
170274        2016-12-29 00:00:00
170277        2016-12-29 00:00:00
170278        2016-12-29 00:00:00
170279        2016-12-29 00:00:00
170285        2016-12-29 00:00:00
170286       December 26-31, 2016
170292        2016-12-30 00:00:00
170306        2016-12-30 00:00:00
170307        2016-12-30 00:00:00
170308        2016-12-30 00:00:00
170312        2016-12-31 00:00:00
170328        2016-12-31 00:00:00
170329        2016-12-31 00:00:00
170331        2016-12-31 00:00:00
170344        2016-12-31 00:00:00
Name: approxdate, Length: 7464, dtype: object>

In [13]:
gtd[(gtd['imonth'] == 0)]
#approx date is null for all of them - only 1 of them even has something resembling what might be a date

,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,region_txt,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
1,1970,0,0,NaN,0,NaN,130,Mexico,1,North America,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
1122,1972,0,0,NaN,0,NaN,160,Philippines,5,Southeast Asia,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
1617,1973,0,0,NaN,1,12/1/1973,45,Colombia,3,South America,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
2091,1974,0,0,NaN,0,NaN,69,France,8,Western Europe,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
2092,1974,0,0,NaN,0,NaN,98,Italy,8,Western Europe,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
2670,1975,0,0,NaN,0,NaN,153,Pakistan,6,South Asia,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
3410,1976,0,0,NaN,0,NaN,209,Turkey,10,Middle East & North Africa,...,NaN,NaN,NaN,NaN,Hyland,0,1,0,1,NaN
3411,1976,0,0,NaN,0,NaN,209,Turkey,10,Middle East & North Africa,...,NaN,NaN,NaN,NaN,Hyland,0,1,0,1,NaN
4333,1977,0,0,NaN,0,NaN,101,Japan,4,East Asia,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
4334,1977,0,0,NaN,0,NaN,101,Japan,4,East Asia,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
4335,1977,0,0,NaN,0,NaN,101,Japan,4,East Asia,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
4336,1977,0,0,NaN,0,NaN,69,France,8,Western Europe,...,NaN,NaN,NaN,NaN,PGIS,0,1,0,1,NaN
4337,1977,0,0,NaN,0,NaN,69,France,8,Western Europe,...,NaN,NaN,NaN,NaN,PGIS,0,1,0,1,NaN
5652,1978,0,0,NaN,0,NaN,30,Brazil,3,South America,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
5653,1978,0,0,NaN,0,NaN,61,El Salvador,2,Central America & Caribbean,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
7178,1979,0,0,NaN,0,NaN,101,Japan,4,East Asia,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
7179,1979,0,0,NaN,0,NaN,45,Colombia,3,South America,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
7180,1979,0,0,NaN,0,NaN,160,Philippines,5,Southeast Asia,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
15087,1982,0,0,NaN,0,NaN,38,Canada,1,North America,...,NaN,NaN,NaN,NaN,Hyland,1,1,1,1,NaN
26912,1986,0,0,NaN,0,NaN,186,Sri Lanka,6,South Asia,...,NaN,NaN,NaN,NaN,PGIS,0,1,0,1,NaN

In [14]:
gtd[(gtd['iday'] == 0) & (gtd['approxdate'].isnull() != 1)]
#approxdate is more relevant here, but still having difficulties with properly parsing some of them - for example
#at index 10795, we have two months without days, helping us none

,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,region_txt,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
2178,1974,3,0,"March 16-17, 1974",0,NaN,217,United States,1,North America,...,NaN,"Marcia McKnight Trick, ""Chronology of Incident...","""Chicano Activists? Bombs Rock Denver,"" The Pr...",NaN,Hewitt Project,-9,-9,0,-9,"197403000001, 197403000002"
2179,1974,3,0,"March 16-17, 1974",0,NaN,217,United States,1,North America,...,NaN,"Marcia McKnight Trick, ""Chronology of Incident...","""Chicano Activists? Bombs Rock Denver,"" The Pr...","Christopher Hewitt, ""Political Violence and Te...",Hewitt Project,-9,-9,0,-9,"197403000002, 197403000001"
10795,1980,5,0,"April - May, 1980",0,NaN,217,United States,1,North America,...,Joseph Paul Franklin confessed to the killing ...,"William G. Blair, ""Slayer A Suspect in 13 More...","""Racist Charged In Slayings,"" The Dispatch, Ma...","Christopher Hewitt, ""Political Violence and Te...",Hewitt Project,-9,-9,0,-9,NaN
29313,1986,10,0,10/21/1986,1,8/11/1991,110,Lebanon,10,Middle East & North Africa,...,It is unclear what day Tracy was kidnapped on ...,"""Beirut Group Reports Kidnap Of U.S. Writer,"" ...","""Release prisoners as 'gesture,' Israel urged,...",NaN,UMD Encyclopedia of World Terrorism 2012,0,1,1,1,NaN
32875,1987,12,0,"December 15-16, 1987",0,NaN,186,Sri Lanka,6,South Asia,...,One source states that 9 villagers were killed...,"Shenali Waduge, ""Ban Ki Moon ensure LTTE atroc...","""Thirty-three killed in Sri Lankan violence,"" ...",NaN,UMD Sri Lanka 2011,0,0,0,0,NaN
43312,1990,7,0,"July 23-30, 1990",0,NaN,186,Sri Lanka,6,South Asia,...,One source states that the incident took place...,"Shenali Waduge, ""Ban Ki Moon ensure LTTE atroc...","""UNP's honeymoon with LTTE in 5-Star comfort,""...",NaN,UMD Sri Lanka 2011,0,0,0,0,NaN
44395,1990,11,0,"November 11-19, 1990",0,NaN,217,United States,1,North America,...,The abortion clinic was shut down as a result ...,"Molly Yard, ""Protext Women's Right to Choose A...","Christopher Hewitt, ""Political Violence and Te...","""Chronological History of Arsons and Bombings ...",Anti-Abortion Project 2010,-9,-9,0,-9,NaN
64996,1997,3,0,"March 31-April1, 1997",0,NaN,6,Algeria,10,Middle East & North Africa,...,NaN,"""Algerian villagers burnt, hacked to death - p...","Rachid Khiaria, ""About 90 Algerians killed in ...",NaN,UMD Encyclopedia of World Terrorism 2012,0,0,0,0,NaN
64997,1997,3,0,"March 31-April1, 1997",0,NaN,6,Algeria,10,Middle East & North Africa,...,NaN,"""Algerian villagers burnt, hacked to death - p...","Rachid Khiaria, ""About 90 Algerians killed in ...",NaN,UMD Encyclopedia of World Terrorism 2012,-9,-9,0,-9,NaN
67371,1997,12,0,12/24/1997,0,NaN,6,Algeria,10,Middle East & North Africa,...,NaN,"""Slaughter Toll Doubles to 120,"" Agence France...",NaN,NaN,UMD Encyclopedia of World Terrorism 2012,-9,-9,0,-9,NaN
67675,1998,4,0,April 1998,1,9/6/1998,45,Colombia,3,South America,...,Cary spent most of his captivity walking throu...,"Edward F. Mickolus, Terrorism, 1996-2001: A Ch...",NaN,NaN,CETIS,0,1,1,1,NaN
67795,1998,6,0,June 1998,1,NaN,45,Colombia,3,South America,...,NaN,"Edward F. Mickolus, Terrorism, 1996-2001: A Ch...",NaN,NaN,CETIS,0,1,1,1,NaN
68245,1998,11,0,Late November 1998,0,NaN,228,Yemen,10,Middle East & North Africa,...,NaN,"Edward F. Mickolus, Terrorism, 1996-2001: A Ch...",NaN,NaN,CETIS,-9,-9,1,1,NaN
68340,1998,12,0,"December 1-2, 1998",0,NaN,6,Algeria,10,Middle East & North Africa,...,NaN,"""1st LEAD: Twelve Algerian civilians killed in...",NaN,NaN,UMD Encyclopedia of World Terrorism 2012,-9,-9,0,-9,NaN
68373,1999,1,0,"January 1-2, 1999",0,NaN,6,Algeria,10,Middle East & North Africa,...,NaN,"""FOCUS-Algeria says rebels kill 22 villagers,""...",NaN,NaN,UMD Encyclopedia of World Terrorism 2012,-9,-9,0,-9,NaN
68859,1999,6,0,Within the first 10 days of the month,0,NaN,603,United Kingdom,8,Western Europe,...,NaN,"""IRA Attacks Continue, Says Group,"" Belfast Ne...",NaN,NaN,CETIS,0,0,1,1,NaN
68860,1999,6,0,"June 1-3,1999",1,NaN,45,Colombia,3,South America,...,NaN,"""Another Massacre in Barrancabermeja,"" Radio C...","""Conflict-Colombia: 30 Die in Two Massacres,"" ...","""30 dead in wave of Colombia violence,"" Agence...",CETIS,-9,-9,0,-9,NaN
69491,1999,10,0,"October 16-17, 1999",1,10/21/1999,45,Colombia,3,South America,...,It is unclear whether any demands were made fo...,"""Columbia internet highlights 18-19 October,"" ...","""Columbia internet highlights 19 - 20 October ...","""Americas: Colombian rebels free 13 hostages,""...",UMD Schmid 2012,0,1,1,1,NaN
69512,1999,10,0,"October 21-22, 1999",0,NaN,45,Colombia,3,South America,...,It is unclear whether the killing was politica...,"""Columbia: Country reports on human rights pra...","""Columbia,"" Inter American Press Association, ...",NaN,UMD Schmid 2012,-9,-9,0,-9,NaN
69841,2000,1,0,01/04/2000,0,NaN,101,Japan,4,East Asia,...,The perpetrator also admitted responsibility f...,"""Japan N-plant bomb suspect admits attacks-pol...","""Police send Tokaimura explosives case to pros...","""Man in Tokaimura explosives case indicted,"" K...",UMD Schmid 2012,-9,-9,0,-9,NaN
69917,1999,12,0,12/15/1999,1,1/26/2000,45,Colombia,3,South America,...,NaN,"""Britian,"" The Toronto Star, January 27, 2000.","""Boy killed in botched Colombia rescue bid,"" R...","""Grenade damages Bogota police post - Six peop...",UMD Schmid 2012,0,0,0,0,NaN
69929,2000,1,0,"January 27-28, 2000",1,1/28/2000,45,Colombia,3,South America,...,Sources state the incident happened on differe...,"""Eleven killed in death squad attack on Colomb...","""Colombia - Massacre paramilitary group kills ...","""Paramilitary gang kills at least 11 Colombian...",UMD Schmid 2012,0,0,0,0,NaN
69949,2000,2,0,"On or before February 16, 2000.",0,NaN,195,Sudan,11,Sub-Saharan Africa,...,NaN,"""Sudan: Anti-Govt Rebels Kill 4 Civillians in ...",NaN,NaN,CETIS,1,1,0,1,NaN
69950,2000,2,0,02/02/2000,0,NaN,209,Turkey,10,Middle East & North Africa,...,Sources mention that the incident happened at ...,"""Turkish police detonate bomb in police chief'...",NaN,NaN,UMD Schmid 2012,-9,-9,0,-9,NaN
70127,2000,3,0,"March 1-31, 2000",0,NaN,92,India,6,South Asia,...,NaN,"""Police drive against TNLA outfits intensified...",NaN,NaN,UMD Schmid 2012,0,0,0,0,NaN
70385,2000,6,0,06/27/2000,0,NaN,177,Sierra Leone,11,Sub-Saharan Africa,...,NaN,"Clarence Roy-Macaulay, ""Hungry rebels attack, ...",NaN,NaN,UMD Schmid 2012,0,0,0,0,"200006000001, 200006000002, 200006270006"
70386,2000,6,0,06/27/2000,0,NaN,177,Sierra Leone,11,Sub-Saharan Africa,...,NaN,"Clarence Roy-Macaulay, ""Hungry rebels attack, ...",NaN,NaN,UMD Schmid 2012,0,0,0,0,"200006000002, 200006000001, 200006270006"
70544,2000,6,0,06/27/2000,0,NaN,177,Sierra Leone,11,Sub-Saharan Africa,...,NaN,"Clarence Roy-Macaulay, ""Hungry rebels attack, ...",NaN,NaN,UMD Schmid 2012,0,0,0,0,"200006270006, 200006000001, 200006000002"
70552,2000,7,0,"July 17-19, 2000",0,NaN,603,United Kingdom,8,Western Europe,...,NaN,"""Mayor blasts wave of fire attacks,"" Belfast N...","Monika Unsworth, ""Arson attack on Ballymena sc...","""Anti-Catholic protests rekindled in Ballymena...",UMD Schmid 2012,-9,-9,1,1,"200007000001, 200007190006, 200007170005"
70572,2000,7,0,"July 1-2, 2000",0,NaN,177,Sierra Leone,11,Sub-Saharan Africa,...,"No group is identified as responsible, but sou...","Rod MacJohnson, ""Civilians, including girls, f...",NaN,NaN,UMD Schmid 2012,-9,-9,0,-9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103564,2011,11,0,11/02/2011,0,NaN,4,Afghanistan,6,South Asia,...,NaN,"""Programme summary of Afghan Kandahar TV news ...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
103572,2011,11,0,11/18/2011,0,NaN,95,Iraq,10,Middle East & North Africa,...,NaN,"""FACTBOX-Security developments in Iraq, Novemb...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
103573,2011,11,0,"November 1-2, 2011",1,NaN,182,Somalia,11,Sub-Saharan Africa,...,NaN,"Mohamed Odowa, ""Al-Shabaab steps up beheadings...","Dominic Wabala, ""Army to Enforce No-Fly Zone O...",NaN,START Primary Collection,0,0,0,0,NaN
103603,2011,11,0,11/02/2011,0,NaN,4,Afghanistan,6,South Asia,...,NaN,"""Programme summary of Afghan Kandahar TV news ...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
103615,2011,11,0,"November 2-3, 2011",0,NaN,153,Pakistan,6,South Asia,...,Sources provide different accounts and locatio...,"""Militants fire three rockets in Pakistan's Ku...","""Levies personnel killed,"" The Statesman, Nove...",NaN,START Primary Collection,-9,-9,0,-9,NaN
103623,2011,11,0,11/03/2011,0,NaN,153,Pakistan,6,South Asia,...,A state of emergency was imposed at the distri...,"""Ten policemen injured in northwest Pakistan b...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
103627,2011,11,0,"November 3-4, 2011",0,NaN,92,India,6,South Asia,...,NaN,"""Maoists kill Trinamool Congress worker in Pur...","Ananya Dutta, ""Will decide whether to resume s...",NaN,START Primary Collection,-9,-9,0,-9,NaN
103628,2011,11,0,"November 3-4, 2011",0,NaN,95,Iraq,10,Middle East & North Africa,...,NaN,"""US patrol attacked south Kirkuk,"" Aswat al-Ir...",NaN,NaN,START Primary Collection,-9,-9,1,1,NaN
103675,2011,11,0,11/05/2011,0,NaN,153,Pakistan,6,South Asia,...,NaN,"""Blast damages 220 kv power pylons,"" The Baluc...","""Blast damages power pylons in Naseerabad,"" Da...",NaN,START Primary Collection,-9,-9,0,-9,NaN
103679,2011,11,0,"November 5-6, 2011",0,NaN,167,Russia,9,Eastern Europe,...,NaN,"""Villager injured, attacker killed, prosecutor...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
103683,2011,11,0,"November 5-6, 2011",0,NaN,153,Pakistan,6,South Asia,...,Sources mention that a house was also demolish...,"""Militants demolish school, house in Bara,"" Da...","""Militants demolish school,"" Pakistan Observer...",NaN,START Primary Collection,0,0,0,0,NaN
103710,2011,11,0,"November 7-8, 2011",0,NaN,95,Iraq,10,Middle East & North Africa,...,NaN,"""FACTBOX-Security developments in Iraq, Novemb...","""Seven Iraqis wounded in two explosions,"" Kuwa...",NaN,START Primary Collection,-9,-9,0,-9,NaN
103717,2011,11,0,"November 4-7, 2011",0,NaN,160,Philippines,5,Southeast Asia,...,NaN,"""6 gov't soldiers injured in Basilan explosion...","Antonio Siegfrid O. Alegado, Amilbahar S. Mawa...",NaN,START Primary Collection,-9,-9,0,-9,NaN
103766,2011,11,0,11/10/2011,0,NaN,4,Afghanistan,6,South Asia,...,NaN,"""Programme summary of Afghan Sharq TV news in ...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
103805,2011,11,0,"November 11-12, 2011",0,NaN,95,Iraq,10,Middle East & North Africa,...,NaN,"""3 killed, 11 injured in attacks in Iraq's vio...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
103810,2011,11,0,"November 12-13, 2011",0,NaN,95,Iraq,10,Middle East & North Africa,...,NaN,"""2 persons killed, 7 injured in 3 Baghdad blas...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
104061,2011,11,0,"November 22-23, 2011",0,NaN,95,Iraq,10,Middle East & North Africa,...,NaN,"""Iraq Pharmacist killed in armed attack east o...","""FACTBOX-Security developments in Iraq, Novemb...",NaN,START Primary Collection,-9,-9,0,-9,NaN
104064,2011,11,0,"November 23-24, 2011",0,NaN,182,Somalia,11,Sub-Saharan Africa,...,NaN,"""The Bodies of Two Men Found Beheaded in South...","Abdulkadir Khalif and Galgalo Bocha, ""Al-Shaba...",NaN,START Primary Collection,0,0,0,0,NaN
104086,2011,11,0,"November 23-24, 2011",0,NaN,1003,Kosovo,9,Eastern Europe,...,NaN,"""Explosion in Kosovska Mitrovica in northern K...","Daniel McLaughlin, ""Nato peacekeepers injured ...",NaN,START Primary Collection,-9,-9,-9,-9,NaN
104226,2011,12,0,12/06/2011,0,NaN,182,Somalia,11,Sub-Saharan Africa,...,NaN,"""Somalia's Puntland forces come under grenade ...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
104227,2011,12,0,12/06/2011,0,NaN,205,Thailand,5,Southeast Asia,...,Jirawat Chanpeng is the name of the apprehende...,"""Police defuse home-made time bomb planted in ...","""Thailand: Explosive device found on Ratchadam...","""Police defuse six bombs in Bangkok"" Today (Si...",START Primary Collection,-9,-9,0,-9,NaN
104228,2011,12,0,12/01/2011,0,NaN,63,Eritrea,11,Sub-Saharan Africa,...,It appears that the two groups jointly claimed...,"Aaron Maasho, ""Eritrea rebels say killed 17 so...",NaN,NaN,START Primary Collection,0,1,0,1,NaN
104293,2011,12,0,12/07/2011,1,NaN,155,West Bank and Gaza Strip,10,Middle East & North Africa,...,The hostage was released shortly after the abd...,"""PA: Settlers kidnap shepherd near Nablus,"" Ma...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
104300,2011,12,0,12/07/2011,0,NaN,92,India,6,South Asia,...,NaN,"""Maoists torch truck, block road,"" Times of In...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
104436,2011,12,0,12/06/2011,0,NaN,200,Syria,10,Middle East & North Africa,...,NaN,"""Blast hits Syrian natural gas pipeline,"" Unit...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
104479,2011,12,0,12/22/2011,0,NaN,155,West Bank and Gaza Strip,10,Middle East & North Africa,...,NaN,"""Settlers attack carol singers near Nablus,"" M...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
104487,2011,12,0,12/17/2011,0,NaN,153,Pakistan,6,South Asia,...,NaN,"""Militants blow up school, house in Bannu,"" Da...","""Pakistan: Militants blow up school, house in ...",NaN,START Primary Collection,-9,-9,0,-9,"201112170021, 201112170022, 201112170024"
104488,2011,12,0,12/17/2011,0,NaN,153,Pakistan,6,South Asia,...,NaN,"""Militants blow up school, house in Bannu,"" Da...","""Blast damages school in Bannu,"" Daily The Pos...","""Pakistan: Militants blow up school, house in ...",START Primary Collection,-9,-9,0,-9,"201112170022, 201112170021, 201112170024"
104489,2011,12,0,12/17/2011,0,NaN,153,Pakistan,6,South Asia,...,NaN,"""Militants blow up school, house in Bannu,"" Da...","""Blast damages school in Bannu,"" Daily The Pos...","""Pakistan: Militants blow up school, house in ...",START Primary Collection,-9,-9,0,-9,"201112170024, 201112170021, 201112170022"
104560,2011,12,0,12/24/2011,0,NaN,153,Pakistan,6,South Asia,...,Some sources state that one of the children wa...,"""Toy bomb kills boy, hurts two brothers in Pes...","""Toy bomb explosion kills one, injures three,""...",NaN,START Primary Collection,-9,-9,0,-9,NaN

In [15]:
gtd.drop(['imonth', 'iday', 'approxdate'], axis=1, inplace=True)
#while time might be an interesting avenue for which to estimate, with a number of nulls and difficulties
#in the way to impute them, I feel it better just to drop them entirely. Maybe come back when I have more time?

In [16]:
gtd['extended'].unique()
#binary variable - might be important for the type of attack, which is relevant to us, and has no nulls,
#so we'll keep this variable around

array([0, 1])

In [17]:
gtd.drop('resolution', axis=1, inplace=True)
#this variable is a text variable that is only even relevant when extended is true, so we drop it
#next are country and region are obviously important - text less so in making any sort of inference,
#but helpful in double checking any conclusions later to make sure that they're reasonable

In [18]:
#next are provstate and city, which are both text fields that can't be used for inference
gtd.drop(['provstate', 'city'], axis=1, inplace=True)

In [19]:
#latitude and longitude are numerical values, but can we impute them using the means of the latitudes and longitudes
#of whichever country the event occurred within, even if this might not be the most accurate measure - it could
#still be a reasonable measure to take.
for country in gtd['country'].unique():
    if len(gtd[gtd['country'] == country]) == gtd[gtd['country'] == country]['latitude'].isnull().sum():
        print(country)

7

In [20]:
#this is the only country where we don't have any latitude and longitudes for, but Andorra is small and can be
#input manually without too much hassle
gtd[gtd['country'] == 7]

,iyear,extended,country,country_txt,region,region_txt,latitude,longitude,specificity,vicinity,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
2397,1974,0,7,Andorra,8,Western Europe,NaN,NaN,5.0,0,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN

In [21]:
for i in gtd[gtd['latitude'].isnull() & gtd['longitude'].isnull()].index:
    country = gtd.loc[i]['country']
    mean_lat = gtd[gtd['country'] == country]['latitude'].mean()
    mean_long = gtd[gtd['country'] == country]['longitude'].mean()
    gtd.loc[i, 'latitude'] = mean_lat
    gtd.loc[i, 'longitude'] = mean_long

In [22]:
gtd['latitude'].isnull().sum()

1

In [23]:
#did that get everything aside from Andorra?
gtd[gtd['latitude'].isnull()]

,iyear,extended,country,country_txt,region,region_txt,latitude,longitude,specificity,vicinity,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
2397,1974,0,7,Andorra,8,Western Europe,NaN,NaN,5.0,0,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN

In [24]:
#It did! Now to manually input the last value based off of the coordinates of Andorra's capital city
gtd.loc[2397, 'latitude'] = 42 + (30/60)
gtd.loc[2397, 'longitude'] = 1 + (31/60)

In [25]:
gtd.loc[2397]

iyear                           1974
extended                           0
country                            7
country_txt                  Andorra
region                             8
region_txt            Western Europe
latitude                        42.5
longitude                    1.51667
specificity                        5
vicinity                           0
location                         NaN
summary                          NaN
crit1                              1
crit2                              1
crit3                              1
doubtterr                          0
alternative                      NaN
alternative_txt                  NaN
multiple                           0
success                            1
suicide                            0
attacktype1                        2
attacktype1_txt        Armed Assault
attacktype2                      NaN
attacktype2_txt                  NaN
attacktype3                      NaN
attacktype3_txt                  NaN
targtype1                          1
targtype1_txt               Business
targsubtype1                       3
                           ...
propextent                       NaN
propextent_txt                   NaN
propvalue                        NaN
propcomment                      NaN
ishostkid                          0
nhostkid                         NaN
nhostkidus                       NaN
nhours                           NaN
ndays                            NaN
divert                           NaN
kidhijcountry                    NaN
ransom                             0
ransomamt                        NaN
ransomamtus                      NaN
ransompaid                       NaN
ransompaidus                     NaN
ransomnote                       NaN
hostkidoutcome                   NaN
hostkidoutcome_txt               NaN
nreleased                        NaN
addnotes                         NaN
scite1                           NaN
scite2                           NaN
scite3                           NaN
dbsource                        PGIS
INT_LOG                            0
INT_IDEO                           1
INT_MISC                           1
INT_ANY                            1
related                          NaN
Name: 2397, Length: 128, dtype: object

In [26]:
#in regards to specificity, 5 is the value for locations that are unknown, so we'll use that one
gtd['specificity'] = gtd['specificity'].fillna(5)
gtd['specificity'] = gtd['specificity'].astype(int)

In [27]:
for col in gtd.columns:
    print(col + ": " + str(gtd[col].isnull().sum()) + " nulls")

iyear: 0 nulls
extended: 0 nulls
country: 0 nulls
country_txt: 0 nulls
region: 0 nulls
region_txt: 0 nulls
latitude: 0 nulls
longitude: 0 nulls
specificity: 0 nulls
vicinity: 0 nulls
location: 122376 nulls
summary: 66138 nulls
crit1: 0 nulls
crit2: 0 nulls
crit3: 0 nulls
doubtterr: 0 nulls
alternative: 143719 nulls
alternative_txt: 143719 nulls
multiple: 0 nulls
success: 0 nulls
suicide: 0 nulls
attacktype1: 0 nulls
attacktype1_txt: 0 nulls
attacktype2: 164720 nulls
attacktype2_txt: 164720 nulls
attacktype3: 169976 nulls
attacktype3_txt: 169976 nulls
targtype1: 0 nulls
targtype1_txt: 0 nulls
targsubtype1: 9345 nulls
targsubtype1_txt: 9345 nulls
corp1: 42565 nulls
target1: 634 nulls
natlty1: 1394 nulls
natlty1_txt: 1394 nulls
targtype2: 160332 nulls
targtype2_txt: 160332 nulls
targsubtype2: 160749 nulls
targsubtype2_txt: 160749 nulls
corp2: 161360 nulls
target2: 160456 nulls
natlty2: 160644 nulls
natlty2_txt: 160644 nulls
targtype3: 169316 nulls
targtype3_txt: 169316 nulls
targsubtype3: 169389 nulls
targsubtype3_txt: 169389 nulls
corp3: 169466 nulls
target3: 169317 nulls
natlty3: 169344 nulls
natlty3_txt: 169344 nulls
gname: 0 nulls
gsubname: 165159 nulls
gname2: 168610 nulls
gsubname2: 170201 nulls
gname3: 170081 nulls
gsubname3: 170337 nulls
motive: 121764 nulls
guncertain1: 379 nulls
guncertain2: 168669 nulls
guncertain3: 170085 nulls
individual: 0 nulls
nperps: 71124 nulls
nperpcap: 69499 nulls
claimed: 66134 nulls
claimmode: 154102 nulls
claimmode_txt: 154102 nulls
claim2: 168733 nulls
claimmode2: 169818 nulls
claimmode2_txt: 169818 nulls
claim3: 170087 nulls
claimmode3: 170230 nulls
claimmode3_txt: 170230 nulls
compclaim: 165595 nulls
weaptype1: 0 nulls
weaptype1_txt: 0 nulls
weapsubtype1: 19426 nulls
weapsubtype1_txt: 19426 nulls
weaptype2: 158507 nulls
weaptype2_txt: 158507 nulls
weapsubtype2: 159875 nulls
weapsubtype2_txt: 159875 nulls
weaptype3: 168690 nulls
weaptype3_txt: 168690 nulls
weapsubtype3: 168843 nulls
weapsubtype3_txt: 168843 nulls
weaptype4: 170276 nulls
weaptype4_txt: 170276 nulls
weapsubtype4: 170279 nulls
weapsubtype4_txt: 170279 nulls
weapdetail: 59385 nulls
nkill: 9682 nulls
nkillus: 64459 nulls
nkillter: 66663 nulls
nwound: 15325 nulls
nwoundus: 64710 nulls
nwoundte: 68749 nulls
property: 0 nulls
propextent: 109805 nulls
propextent_txt: 109805 nulls
propvalue: 134863 nulls
propcomment: 115919 nulls
ishostkid: 178 nulls
nhostkid: 157858 nulls
nhostkidus: 157913 nulls
nhours: 166649 nulls
ndays: 162942 nulls
divert: 170037 nulls
kidhijcountry: 167051 nulls
ransom: 94037 nulls
ransomamt: 169071 nulls
ransomamtus: 169854 nulls
ransompaid: 169643 nulls
ransompaidus: 169863 nulls
ransomnote: 169879 nulls
hostkidoutcome: 160439 nulls
hostkidoutcome_txt: 160439 nulls
nreleased: 161028 nulls
addnotes: 144911 nulls
scite1: 66200 nulls
scite2: 100765 nulls
scite3: 131133 nulls
dbsource: 0 nulls
INT_LOG: 0 nulls
INT_IDEO: 0 nulls
INT_MISC: 0 nulls
INT_ANY: 0 nulls
related: 147505 nulls

In [28]:
#location is a text entry that doesn't let us infer anything
gtd.drop('location', axis=1, inplace=True)

In [29]:
#so is summary
gtd.drop('summary', axis=1, inplace=True)

In [30]:
#alternative and alternative text is only relevant in cases where terrorism is doubted - can be dropped
gtd.drop(['alternative', 'alternative_txt'], axis=1, inplace=True)

In [31]:
#not all attacks had multiple avenues, so we can dump everything related to attacks past 1, but we can record whether
#an attack had multiple avenues
multiatk = []
for i in gtd['attacktype2'].isnull():
    if i:
        multiatk.append(0)
    else:
        multiatk.append(1)
pd.Series(multiatk).value_counts()

0    164720
1      5630
dtype: int64

In [32]:
#Everything else related to multiple attack types needs to go
gtd['attacktype2'] = multiatk
gtd.rename(columns={'attacktype2':'multiatk'}, inplace=True)
gtd.drop(['attacktype2_txt', 'attacktype3', 'attacktype3_txt'], axis=1, inplace=True)

In [33]:
#not all target types have subtypes, making that impossible to impute
gtd.drop(['targsubtype1', 'targsubtype1_txt'], axis=1, inplace=True)

In [34]:
#corp1 and target1 are text variables
gtd.drop(['corp1', 'target1'], axis=1, inplace=True)

In [75]:
#for simplicity's sake, we'll assume that any unknown target nationality was that of where the attack occurred
for i in gtd[gtd['natlty1'].isnull()].index:
    natlty = gtd.loc[i, 'country']
    natlty_txt = gtd.loc[i, 'country_txt']
    gtd.loc[i, 'natlty1'] = natlty
    gtd.loc[i, 'natlty1_txt'] = natlty_txt
gtd['natlty1'] = gtd['natlty1'].astype(int)

In [36]:
#same thing we did for attack types we can do for targets - check whether there was more than one
multitarg = []
for i in gtd['targtype2'].isnull():
    if i:
        multitarg.append(0)
    else:
        multitarg.append(1)
pd.Series(multitarg).value_counts()

0    160332
1     10018
dtype: int64

In [37]:
#we're using the same process as we did before
gtd['targtype2'] = multitarg
gtd.rename(columns={'targtype2':'multitarg'}, inplace=True)
gtd.drop(['targtype2_txt', 'targsubtype2', 'targsubtype2_txt', 'corp2', 'target2', 'natlty2', 'natlty2_txt'], axis=1, inplace=True)
gtd.drop(['targtype3', 'targtype3_txt', 'targsubtype3', 'targsubtype3_txt', 'corp3', 'target3', 'natlty3', 'natlty3_txt'], axis=1, inplace=True)

In [38]:
for col in gtd.columns:
    print(col + ": " + str(gtd[col].isnull().sum()) + " nulls")

iyear: 0 nulls
extended: 0 nulls
country: 0 nulls
country_txt: 0 nulls
region: 0 nulls
region_txt: 0 nulls
latitude: 0 nulls
longitude: 0 nulls
specificity: 0 nulls
vicinity: 0 nulls
crit1: 0 nulls
crit2: 0 nulls
crit3: 0 nulls
doubtterr: 0 nulls
multiple: 0 nulls
success: 0 nulls
suicide: 0 nulls
attacktype1: 0 nulls
attacktype1_txt: 0 nulls
multiatk: 0 nulls
targtype1: 0 nulls
targtype1_txt: 0 nulls
natlty1: 0 nulls
natlty1_txt: 0 nulls
multitarg: 0 nulls
gname: 0 nulls
gsubname: 165159 nulls
gname2: 168610 nulls
gsubname2: 170201 nulls
gname3: 170081 nulls
gsubname3: 170337 nulls
motive: 121764 nulls
guncertain1: 379 nulls
guncertain2: 168669 nulls
guncertain3: 170085 nulls
individual: 0 nulls
nperps: 71124 nulls
nperpcap: 69499 nulls
claimed: 66134 nulls
claimmode: 154102 nulls
claimmode_txt: 154102 nulls
claim2: 168733 nulls
claimmode2: 169818 nulls
claimmode2_txt: 169818 nulls
claim3: 170087 nulls
claimmode3: 170230 nulls
claimmode3_txt: 170230 nulls
compclaim: 165595 nulls
weaptype1: 0 nulls
weaptype1_txt: 0 nulls
weapsubtype1: 19426 nulls
weapsubtype1_txt: 19426 nulls
weaptype2: 158507 nulls
weaptype2_txt: 158507 nulls
weapsubtype2: 159875 nulls
weapsubtype2_txt: 159875 nulls
weaptype3: 168690 nulls
weaptype3_txt: 168690 nulls
weapsubtype3: 168843 nulls
weapsubtype3_txt: 168843 nulls
weaptype4: 170276 nulls
weaptype4_txt: 170276 nulls
weapsubtype4: 170279 nulls
weapsubtype4_txt: 170279 nulls
weapdetail: 59385 nulls
nkill: 9682 nulls
nkillus: 64459 nulls
nkillter: 66663 nulls
nwound: 15325 nulls
nwoundus: 64710 nulls
nwoundte: 68749 nulls
property: 0 nulls
propextent: 109805 nulls
propextent_txt: 109805 nulls
propvalue: 134863 nulls
propcomment: 115919 nulls
ishostkid: 178 nulls
nhostkid: 157858 nulls
nhostkidus: 157913 nulls
nhours: 166649 nulls
ndays: 162942 nulls
divert: 170037 nulls
kidhijcountry: 167051 nulls
ransom: 94037 nulls
ransomamt: 169071 nulls
ransomamtus: 169854 nulls
ransompaid: 169643 nulls
ransompaidus: 169863 nulls
ransomnote: 169879 nulls
hostkidoutcome: 160439 nulls
hostkidoutcome_txt: 160439 nulls
nreleased: 161028 nulls
addnotes: 144911 nulls
scite1: 66200 nulls
scite2: 100765 nulls
scite3: 131133 nulls
dbsource: 0 nulls
INT_LOG: 0 nulls
INT_IDEO: 0 nulls
INT_MISC: 0 nulls
INT_ANY: 0 nulls
related: 147505 nulls

In [39]:
#we're gonna do the same thing to group that we did to the others earlier
multigrp = []
for i in gtd['gname2'].isnull():
    if i:
        multigrp.append(0)
    else:
        multigrp.append(1)
pd.Series(multigrp).value_counts()

0    168610
1      1740
dtype: int64

In [40]:
gtd['gsubname'] = multigrp
gtd.rename(columns={'gsubname':'multigrp'}, inplace=True)
gtd.drop(['gname2', 'gsubname2', 'gname3', 'gsubname3'], axis=1, inplace = True)

In [41]:
#motive can be dropped without further consequence, text variable
gtd.drop('motive', axis=1, inplace = True)

In [42]:
#presuming that if the value is null, that they don't actually know whether they were confirmed or not, 
#so we'll set guncertain1 to be 1 (designates that there is uncertainty)
gtd['guncertain1'] = gtd['guncertain1'].fillna(1)
gtd['guncertain1'] = gtd['guncertain1'].astype(int)

In [43]:
#don't need these
gtd.drop(['guncertain2', 'guncertain3'], axis=1, inplace=True)

In [44]:
#these have inbuilt unknowns, but as a numerical instead of categorical variable, that might throw things off
#so we'll drop
gtd.drop(['nperps', 'nperpcap'], axis=1, inplace=True)

In [45]:
#impossible to reasonably impute missing claims, so all get dropped
gtd.drop(['claimed', 'claimmode', 'claimmode_txt', 'claim2', 'claimmode2', 'claimmode2_txt', 'claim3', 'claimmode3', 'claimmode3_txt', 'compclaim'], axis=1, inplace=True)

In [46]:
for col in gtd.columns:
    print(col + ": " + str(gtd[col].isnull().sum()) + " nulls")

iyear: 0 nulls
extended: 0 nulls
country: 0 nulls
country_txt: 0 nulls
region: 0 nulls
region_txt: 0 nulls
latitude: 0 nulls
longitude: 0 nulls
specificity: 0 nulls
vicinity: 0 nulls
crit1: 0 nulls
crit2: 0 nulls
crit3: 0 nulls
doubtterr: 0 nulls
multiple: 0 nulls
success: 0 nulls
suicide: 0 nulls
attacktype1: 0 nulls
attacktype1_txt: 0 nulls
multiatk: 0 nulls
targtype1: 0 nulls
targtype1_txt: 0 nulls
natlty1: 0 nulls
natlty1_txt: 0 nulls
multitarg: 0 nulls
gname: 0 nulls
multigrp: 0 nulls
guncertain1: 0 nulls
individual: 0 nulls
weaptype1: 0 nulls
weaptype1_txt: 0 nulls
weapsubtype1: 19426 nulls
weapsubtype1_txt: 19426 nulls
weaptype2: 158507 nulls
weaptype2_txt: 158507 nulls
weapsubtype2: 159875 nulls
weapsubtype2_txt: 159875 nulls
weaptype3: 168690 nulls
weaptype3_txt: 168690 nulls
weapsubtype3: 168843 nulls
weapsubtype3_txt: 168843 nulls
weaptype4: 170276 nulls
weaptype4_txt: 170276 nulls
weapsubtype4: 170279 nulls
weapsubtype4_txt: 170279 nulls
weapdetail: 59385 nulls
nkill: 9682 nulls
nkillus: 64459 nulls
nkillter: 66663 nulls
nwound: 15325 nulls
nwoundus: 64710 nulls
nwoundte: 68749 nulls
property: 0 nulls
propextent: 109805 nulls
propextent_txt: 109805 nulls
propvalue: 134863 nulls
propcomment: 115919 nulls
ishostkid: 178 nulls
nhostkid: 157858 nulls
nhostkidus: 157913 nulls
nhours: 166649 nulls
ndays: 162942 nulls
divert: 170037 nulls
kidhijcountry: 167051 nulls
ransom: 94037 nulls
ransomamt: 169071 nulls
ransomamtus: 169854 nulls
ransompaid: 169643 nulls
ransompaidus: 169863 nulls
ransomnote: 169879 nulls
hostkidoutcome: 160439 nulls
hostkidoutcome_txt: 160439 nulls
nreleased: 161028 nulls
addnotes: 144911 nulls
scite1: 66200 nulls
scite2: 100765 nulls
scite3: 131133 nulls
dbsource: 0 nulls
INT_LOG: 0 nulls
INT_IDEO: 0 nulls
INT_MISC: 0 nulls
INT_ANY: 0 nulls
related: 147505 nulls

In [47]:
#I think you know what we're going to do with weapons
multiweap = []
for i in gtd['weaptype2'].isnull():
    if i:
        multiweap.append(0)
    else:
        multiweap.append(1)
pd.Series(multiweap).value_counts()

0    158507
1     11843
dtype: int64

In [48]:
#subtypes and details can't be filled, so they get dropped too
gtd['weaptype2'] = multiweap
gtd.rename(columns={'weaptype2':'multiweap'}, inplace=True)
gtd.drop(['weapsubtype1', 'weapsubtype1_txt', 'weapsubtype2', 'weapsubtype2_txt', 'weapsubtype3', 'weapsubtype3_txt', 'weapsubtype4', 'weapsubtype4_txt'], axis=1, inplace=True)
gtd.drop(['weaptype2_txt', 'weaptype3', 'weaptype3_txt', 'weaptype4', 'weaptype4_txt'], axis=1, inplace=True)
gtd.drop('weapdetail', axis=1, inplace=True)

In [49]:
gtd['property'].value_counts()

 1    90019
 0    60752
-9    19579
Name: property, dtype: int64

In [50]:
#I don't want to get rid of nkill, as it's an important subject. Though it may be inaccurate, we'll presume
#for the purposes that an unknown number of casualties is 0.
gtd['nkill'] = gtd['nkill'].fillna(0)
gtd['nkill'] = gtd['nkill'].astype(int)

In [51]:
#same for nwound
gtd['nwound'] = gtd['nwound'].fillna(0)
gtd['nwound'] = gtd['nwound'].astype(int)

In [64]:
gtd.drop(['nkillus', 'nkillter'], axis=1, inplace=True)
gtd.drop(['nwoundus', 'nwoundte'], axis=1, inplace=True)

In [52]:
#since this is categorical, we can set the unknowns to the variable that is unknown
gtd['propextent'].value_counts()

3.0    40569
4.0    19066
2.0      904
1.0        6
Name: propextent, dtype: int64

In [53]:
gtd['propextent_txt'].value_counts()

Minor (likely < $1 million)                     40569
Unknown                                         19066
Major (likely > $1 million but < $1 billion)      904
Catastrophic (likely > $1 billion)                  6
Name: propextent_txt, dtype: int64

In [55]:
#these had 0 damage, so we're putting them in the lowest category
for i in gtd[gtd['property'] == 0].index:
    gtd.loc[i, 'propextent'] = 3
    gtd.loc[i, 'propextent_txt'] = "Minor (likely < $1 million)"

In [56]:
for i in gtd[gtd['property'] == -9].index:
    gtd.loc[i, 'propextent'] = 4
    gtd.loc[i, 'propextent_txt'] = "Unknown"

In [57]:
for i in gtd[gtd['propextent'].isnull()].index:
    gtd.loc[i, 'propextent'] = 4
    gtd.loc[i, 'propextent_txt'] = "Unknown"

In [59]:
gtd['propextent'] = gtd['propextent'].astype(int)

In [65]:
for col in gtd.columns:
    print(col + ": " + str(gtd[col].isnull().sum()) + " nulls")

iyear: 0 nulls
extended: 0 nulls
country: 0 nulls
country_txt: 0 nulls
region: 0 nulls
region_txt: 0 nulls
latitude: 0 nulls
longitude: 0 nulls
specificity: 0 nulls
vicinity: 0 nulls
crit1: 0 nulls
crit2: 0 nulls
crit3: 0 nulls
doubtterr: 0 nulls
multiple: 0 nulls
success: 0 nulls
suicide: 0 nulls
attacktype1: 0 nulls
attacktype1_txt: 0 nulls
multiatk: 0 nulls
targtype1: 0 nulls
targtype1_txt: 0 nulls
natlty1: 0 nulls
natlty1_txt: 0 nulls
multitarg: 0 nulls
gname: 0 nulls
multigrp: 0 nulls
guncertain1: 0 nulls
individual: 0 nulls
weaptype1: 0 nulls
weaptype1_txt: 0 nulls
multiweap: 0 nulls
nkill: 0 nulls
nwound: 0 nulls
property: 0 nulls
propextent: 0 nulls
propextent_txt: 0 nulls
propvalue: 134863 nulls
propcomment: 115919 nulls
ishostkid: 178 nulls
nhostkid: 157858 nulls
nhostkidus: 157913 nulls
nhours: 166649 nulls
ndays: 162942 nulls
divert: 170037 nulls
kidhijcountry: 167051 nulls
ransom: 94037 nulls
ransomamt: 169071 nulls
ransomamtus: 169854 nulls
ransompaid: 169643 nulls
ransompaidus: 169863 nulls
ransomnote: 169879 nulls
hostkidoutcome: 160439 nulls
hostkidoutcome_txt: 160439 nulls
nreleased: 161028 nulls
addnotes: 144911 nulls
scite1: 66200 nulls
scite2: 100765 nulls
scite3: 131133 nulls
dbsource: 0 nulls
INT_LOG: 0 nulls
INT_IDEO: 0 nulls
INT_MISC: 0 nulls
INT_ANY: 0 nulls
related: 147505 nulls

In [ ]:
#propvalue is difficult to impute, propcomment is a text variable unable to be predictive
gtd.drop(['propvalue', 'propcomment'], axis=1, inplace=True)

In [68]:
#lots of these following variables are only applicable for specific types of terrorist events, so we can drop them
gtd.drop(['ishostkid', 'nhostkid', 'nhostkidus', 'nhours', 'ndays', 'divert', 'kidhijcountry'], axis=1, inplace=True)
gtd.drop(['ransom', 'ransomamt', 'ransomamtus', 'ransompaid', 'ransompaidus', 'ransomnote', 'hostkidoutcome', 'hostkidoutcome_txt', 'nreleased'], axis=1, inplace=True)

In [70]:
#we can drop the notes, they're text values that don't hold predictive value
gtd.drop(['addnotes', 'scite1', 'scite2', 'scite3'], axis=1, inplace=True)

In [71]:
#dbsource just tells us which source we're getting it from and has no predictive value
gtd.drop('dbsource', axis=1, inplace=True)

In [73]:
#while knowing if there are related events is important, we don't need the information inside the variable. 
#So we'll change this to a 1/0 binary variable based on isnull(), like we've done before.
related = []
for i in gtd['related'].isnull():
    if i:
        related.append(0)
    else:
        related.append(1)
gtd['related'] = related
gtd['related'] = gtd['related'].astype(int)

In [76]:
gtd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170350 entries, 0 to 170349
Data columns (total 42 columns):
iyear              170350 non-null int64
extended           170350 non-null int64
country            170350 non-null int64
country_txt        170350 non-null object
region             170350 non-null int64
region_txt         170350 non-null object
latitude           170350 non-null float64
longitude          170350 non-null float64
specificity        170350 non-null int64
vicinity           170350 non-null int64
crit1              170350 non-null int64
crit2              170350 non-null int64
crit3              170350 non-null int64
doubtterr          170350 non-null int64
multiple           170350 non-null int64
success            170350 non-null int64
suicide            170350 non-null int64
attacktype1        170350 non-null int64
attacktype1_txt    170350 non-null object
multiatk           170350 non-null int64
targtype1          170350 non-null int64
targtype1_txt      170350 non-null object
natlty1            170350 non-null int64
natlty1_txt        170350 non-null object
multitarg          170350 non-null int64
gname              170350 non-null object
multigrp           170350 non-null int64
guncertain1        170350 non-null int64
individual         170350 non-null int64
weaptype1          170350 non-null int64
weaptype1_txt      170350 non-null object
multiweap          170350 non-null int64
nkill              170350 non-null int64
nwound             170350 non-null int64
property           170350 non-null int64
propextent         170350 non-null int64
propextent_txt     170350 non-null object
INT_LOG            170350 non-null int64
INT_IDEO           170350 non-null int64
INT_MISC           170350 non-null int64
INT_ANY            170350 non-null int64
related            170350 non-null int64
dtypes: float64(2), int64(32), object(8)
memory usage: 54.6+ MB

In [78]:
gtd.to_csv('./gtd-clean.csv', index=False)

In [79]:
new_gtd = pd.read_csv('./gtd-clean.csv')

In [80]:
new_gtd.head()
#everything's looking good

,iyear,extended,country,country_txt,region,region_txt,latitude,longitude,specificity,vicinity,...,nkill,nwound,property,propextent,propextent_txt,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,1970,0,58,Dominican Republic,2,Central America & Caribbean,18.456792,-69.951164,1,0,...,1,0,0,3,Minor (likely < $1 million),0,0,0,0,0
1,1970,0,130,Mexico,1,North America,19.432608,-99.133207,1,0,...,0,0,0,3,Minor (likely < $1 million),0,1,1,1,0
2,1970,0,160,Philippines,5,Southeast Asia,15.478598,120.599741,4,0,...,1,0,0,3,Minor (likely < $1 million),-9,-9,1,1,0
3,1970,0,78,Greece,8,Western Europe,37.983773,23.728157,1,0,...,0,0,1,4,Unknown,-9,-9,1,1,0
4,1970,0,101,Japan,4,East Asia,33.580412,130.396361,1,0,...,0,0,1,4,Unknown,-9,-9,1,1,0

In [9]:
gtd[(gtd['iyear'] == 1979) & ((gtd['imonth'] == 8) & (gtd['iday'] == 27))]

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
9078,197908270001,1979,8,27,NaN,0,NaN,362,West Germany (FRG),8,...,NaN,NaN,NaN,NaN,PGIS,1,1,1,1,NaN
9079,197908270002,1979,8,27,NaN,0,NaN,603,United Kingdom,8,...,NaN,NaN,NaN,NaN,PGIS,0,0,1,1,NaN
9080,197908270003,1979,8,27,NaN,0,NaN,603,United Kingdom,8,...,NaN,NaN,NaN,NaN,PGIS,0,0,1,1,NaN
9081,197908270004,1979,8,27,NaN,0,NaN,96,Ireland,8,...,NaN,NaN,NaN,NaN,PGIS,1,0,1,1,NaN
9082,197908270005,1979,8,27,NaN,0,NaN,4,Afghanistan,6,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
9083,197908270006,1979,8,27,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
9084,197908270007,1979,8,27,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN